html, body{
    height: 100vh;
};

/* Set dropdown font-families */
#toolbar-container .ql-font span[data-label="Sansserif"]::before {
    font-family: "Sans Serif";
}
#toolbar .ql-font span[data-label='couriernew']::before {
    font-family: 'Courier new';
}
#toolbar .ql-font span[data-label='georgia']::before {
    font-family: 'Georgia';
}
#toolbar .ql-font span[data-label='helvetica']::before {
    font-family: 'Helvetica';
}
#toolbar .ql-font span[data-label='comicsans']::before {
    font-family: 'Comic sans';
}
#toolbar .ql-font span[data-label='roboto']::before {
    font-family: 'Roboto';
}
#toolbar .ql-font span[data-label='arila']::before {
    font-family: 'Arial';
}

  /* Set content font-families */
.ql-font-couriernew {
    font-family: 'Courier New', sans-serif;
}
.ql-font-georgia {
    font-family: 'Georgia', sans-serif;
}
.ql-font-helvetica {
    font-family: 'Helvetica', sans-serif;
}
.ql-font-comicsans {
    font-family: 'Comic Sans', sans-serif;
}
.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}
.ql-font-arial {
    font-family: 'Arial', sans-serif;
}
.ql-font-sansserif {
    font-family: sans-serif;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.ql-snow button.ql-size svg path {
    fill: black;
}

.ql-snow button.ql-size:hover svg path {
    fill: #06c;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before, 
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before{
    content: attr(data-value);
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before, 
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before{
    content: attr(data-value);
}

.ql-snow .ql-picker.ql-changeFonts .ql-picker-label::before {
    padding-right: 20px;
}

.ql-snow .ql-picker.ql-changeFonts .ql-picker-label::before, 
.ql-snow .ql-picker.ql-changeFonts .ql-picker-item::before{
    content: 'default';
}

.ql-snow .ql-picker.ql-changeFonts .ql-picker-label[data-value]::before, 
.ql-snow .ql-picker.ql-changeFonts .ql-picker-item[data-value]::before{
    content: attr(data-value);
}
